<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span fxFlex></span>
    <button mat-raised-button color="accent" class="ml-xs mr-xs">Send Message</button>
    <button mat-raised-button color="warn" class="ml-xs mr-xs">Follow</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="25" class="profile_details">
              <h1 class="ma-0">{{profile.first_name}} <b>{{profile.last_name}}</b></h1>
              <a href="javascript:;" class="block mt-xs mb-xs not-link">{{profile.email}}</a>
              <a *ngIf="userRole === 'SCHA'" href="javascript:;" class="block mt-xs mb-xs not-link">{{profile.emis_code}}</a>
              <button mat-raised-button color="primary" (click)="editProfileDialog()">Edit Profile</button>
            </div>
            <div fxFlex="75">
              <figure>
                <div class="text-xs-center">
                  <img *ngIf="profile.image === null" src="{{profile.profile_image}}" alt="" class="radius-circle img">
                  <img *ngIf="profile.image !== null" src="{{profile.image}}" alt="" class="radius-circle img">
                  <p class="mt-xs mb-xs">{{profile.role_name}}</p>
                </div>
                <hr>
                <!-- <div class="ma-xs">
                  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div> -->
                <div class="text-xs-center"><small>{{profile.username}}</small></div>
              </figure>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="pa-0">
        <mat-tab-group>
          <mat-tab>
            <ng-template matTabLabel>{{ 'INDIVIDUAL.META_DATA_INFO.BIO' | translate }}</ng-template>
            <mat-card-content class="pa-1">
              <h4 class="mt-0 mb-1">{{ 'INDIVIDUAL.META_DATA_INFO.INFO' | translate }}</h4>
              <div fxLayout="row" layout-align="center">
                <div class="pr-1" fxFlex>
                  <div fxLayout="column" class="mb-1">
                    <span class="text-md">{{ 'INDIVIDUAL.META_DATA_INFO.PHONE' | translate }}</span>
                    <strong *ngIf="profile.phone !== null">{{profile.phone}}</strong>
                    <strong *ngIf="profile.phone === null">N/A</strong>
                  </div>

                  <div fxLayout="column" class="mb-1">
                    <span class="text-md">{{ 'INDIVIDUAL.META_DATA_INFO.DOB' | translate }}</span>
                    <strong *ngIf="profile.dob !== null">{{profile.dob}}</strong>
                    <strong *ngIf="profile.dob === null">N/A</strong>
                  </div>

                  <div fxLayout="column" class="mb-1">
                    <span class="text-md">{{ 'INDIVIDUAL.META_DATA_INFO.GENDER' | translate }}</span>
                    <strong>{{profile.gender_display}}</strong>
                  </div>

                  <!-- <div fxLayout="column" >
                    <span class="text-md">{{ 'INDIVIDUAL.META_DATA_INFO.COUNTRY' | translate }}</span>
                    <strong>Somali</strong>
                  </div> -->

                </div>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
