<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title><b>{{ 'CHANGE_PASSWORD_TITLE' | translate}}</b></mat-card-title>
        <mat-card-content *ngIf="error">
            <small fxFlex="48" class="sec1 mat-text-warn" fxFlex.xs="55">
                {{ error }}
            </small>
        </mat-card-content>
        <mat-card-content>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                <div fxFlex="48" class="sec1" fxFlex.xs="55">
                    <mat-form-field style="width: 100%">
                        <input type="password" matInput placeholder="{{'change_password.OLD_PASSWORD' | translate}}" [formControl]="form.controls['old_password']">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                <div fxFlex="48" class="sec1" fxFlex.xs="55">
                    <mat-form-field style="width: 100%">
                        <input type="password" matInput placeholder="{{'change_password.NEW_PASSWORD' | translate}}" [formControl]="form.controls['new_password']">
                    </mat-form-field>
                    <small *ngIf="form.controls['new_password'].hasError('required') && form.controls['new_password'].touched" class="mat-text-warn">{{ 'form_errors.PASSWORD_REQUIRED' | translate}}</small>
                </div>
                <div fxFlex="48" class="sec2">
                    <mat-form-field style="width: 100%">
                        <input type="password" matInput placeholder="{{'change_password.CONFIRM_PASSWORD' | translate}}" [formControl]="form.controls['c_password']">
                    </mat-form-field>
                    <small *ngIf="form.controls['c_password'].hasError('required') && form.controls['c_password'].touched" class="mat-text-warn">{{ 'form_errors.C_PASSWORD_REQUIRED' | translate}}</small>
                    <small *ngIf="form.controls.c_password.hasError('MatchPassword') && form.controls.c_password.touched" class="mat-text-warn">{{ 'form_errors.PASSWORDS_MISMATCH' | translate}}</small>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || loader"> fixme: to build for prod-->
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    <span [hidden]="submitted">{{ 'change_password.CHANGE_PASSWORD' | translate}}</span>
                    <span [hidden]="!submitted">{{  'change_password.CHANGING_PASSWORD' | translate}}</span>
            </button>
        </mat-card-content>
    </mat-card>
</form>