.page-title {
    font-family: "Prompt-Medium";
    margin-left: 15px;
    font-size: 19px;
}

.page-subtitle {
    font-family: "Prompt-Regular";
    margin-left: 20px;
    font-size: 14px;
}

:host ::ng-deep {
    .form-control {
      font-size: 14px !important;
    }
}