<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title mt-3">View Teachers</h1>
      <app-myform [formItems]="formItems" [url]="url" submitButtonText="Search" isValidationOnly=true
        (onValidatedData)="onValidatedData($event)" componentType="filter" formActionName="Search" submitButtonText=""
        [formGroupOrder]="formGroupOrder">
      </app-myform>
    </div>
    <hr />
  </div>
  <my-app-tables [enableOrderBy]="enableOrderBy" searchFieldName="last_name" searchFieldNameMessage="Last Name, School Name"
    (exportTriggered)="exportTriggerd($event)" (isLoading)="isLoading($event)" [showNumbering]="false"
    (onLengthLoaded)="onLengthLoaded($event)" [listTypeUrl]="url" [args]="args" [enableExport]="'true'"
    (actionsEvent)="handleActions($event)" [headers]="headers" page_size="10" [enableDelete]="'true'">
  </my-app-tables>

</div>