.mat-pink {
    background-color: #d80351;
    color: #ffffff;
}

.mat-gray {
    background-color: #929292;
    color: #ffffff;
}

.mat-yellow {
    background-color: #f5d908;
    color: #ffffff;
}

@media (max-width: 500px) {
    .chart-wrapper {
        display: block !important;
    }
}
